@import '../../variables.scss';

@media only screen and (max-width: $mobileSize) {
  .flights-list-item {
    flex-direction: column;
  }
}

@media only screen and (min-width: $mobileSize) {
  .flights-list-item__price {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }
}

.flights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.flights-list {
  box-shadow: 0 15px 25px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: 60px;
  }
}

.flights-list-item {
  display: flex;
  justify-content: space-between;
  min-width: 260px;
  padding: 15px 15px;
  border: 1px solid lightgray;

  &:not(:last-child) {
    border-bottom: none;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.change-button {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
