@import '../../variables.scss';

@media only screen and (max-width: $mobileSize) {
  .expandable-panel-details__names {
    flex-direction: column;
    padding: 0 20px;
  }
}

.expandable-panel__header, .luggage-list__text {
  line-height: 1.75;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.expandable-panel {
  width: 80%;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 5px;

  &__header {
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: rgb(231, 231, 231);
    }
  }
}

.expandable-panel-details {
  &__names {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }
}

.opened {
  border-bottom: 1px solid lightgray;
}

.luggage-list {
  &__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid lightgray;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 80px;
  }
}
