@import 'src/variables';

@media only screen and (max-width: $mobileSize) {
  .plane {
    margin-bottom: 30px;
  }
}

.plane {
  background-color: $planeBackgroundColor;
}

.row {
  display: flex;
  padding: 5px 5px;
  height: 20px;
}

.seat {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: $seatsRowBackgroundColor;
  text-align: center;
  line-height: normal;
  font-size: 0.8rem;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 5px;
  }
  
  &:hover .seat-point {
    display: inline;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

.disabled {
  background-color: $disabledSeatBackground;
  cursor: auto;

  &:hover .seat-point {
    display: none;
  }
}

.sign {
  background-color: transparent;
  color: $secondaryTextColor;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 20px;
  color: $secondaryTextColor;
  font-size: 0.6rem;
  margin-right: 5px;
}
