@import 'src/variables.scss';

.flight-seats {
  display: flex;
  opacity: 1;
  justify-content: space-evenly;
  margin-bottom: 30px;
  transition: display 2s, opacity 2s;
}

.closed-block {
  opacity: 0;
  display: none;
}

.seats-choice-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}