@import '../../variables.scss';
@media only screen and (max-width: $mobileSize) {
  .wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: $tabletSize) {
  .tablet {
    flex-direction: column;
    justify-content: center;
  }
}

.search-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
}