@import 'src/variables.scss';

.passenger-seats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.passengers-seats {
  background-color: $passengerTableBackgroundColor;
  box-shadow: $boxShadow;
}
