@import 'src/variables.scss';

.header__menu {
  display: flex;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.link-to {
  padding: 10px 15px;
  border-radius: 5px;
  color: $primaryTextInvertColor;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: $fontFamily;
  line-height: 16px;
}

.login-menu {
  display: flex;

  &__user-icon {
    font-size: 2em;
  }

  &__link-to {
    text-decoration: none;
  }

  &__user-icon-button {
    padding: 0;
    margin-left: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.link-to-button {
  padding: 0;
  margin-left: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: $mobileSize) {
  .header__menu {
    display: none;
  }
  .link-to {
    color: $primaryTextColor;
    font-size: 1rem;
  }
}

@media screen and (min-width: $mobileSize) {
  .link-to:hover {
    background-color: $buttonHoverColor;
  }
}
