@import 'src/variables.scss';

.counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 280px;
    padding: 20px 0;
    border: 1px solid $lightgray;
    border-radius: 5px;
    box-shadow: $boxShadow;
    display: none;
    background-color: $cardBackgroundColor;
  }
}

.counter {
  &__wrapper {
    display: flex;
    margin-bottom: 30px;
  }

  &__info {
    width: 100px;
    padding: 4px 12px;
    border: 1px solid $lightgray;

    text-align: center;
    line-height: 1.75;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 400;
    font-family: $fontFamily;
  }

  &__button {
    min-width: 40px;
    padding: 4px 12px;
    background-color: $primaryMaterial;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    line-height: 1.75;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: $fontFamily;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms,
                box-shadow 250ms,
                border 250ms;

    &:hover {
      background-color: $primaryMaterialHover;
      box-shadow: $buttonShadow;
    }

    &_minus {
      border-radius: 4px 0 0 4px;
    }

    &_plus {
      border-radius: 0 4px 4px 0;
    }
  }
}
